@model DoAnNhom6.Models.KhachHang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "SuaNV";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaNhanVien</h1>

<h4>HangHoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaNV">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaKh" />
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoiDangBai" class="control-label"></label>
                <input asp-for="GoiDangBai" class="form-control" />
                <span asp-validation-for="GoiDangBai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HieuLuc" class="control-label"></label>
                <select asp-for="HieuLuc" class="form-control">
                    <option value="True">Cho Phép</option>
                    <option value="False">Bị Khóa</option>
               
                </select>
                <span asp-validation-for="HieuLuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhGia" class="control-label"></label>
                <input asp-for="DanhGia" class="form-control" />
                <span asp-validation-for="DanhGia" class="text-danger"></span>
            </div>       
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

