@model IEnumerable<DoAnNhom6.ViewModels.CongViecVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}

<h1>Search</h1>
@if (Model != null && Model.Any())
{
    @await Html.PartialAsync("ProductItem", Model)
}