@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DoAnNhom6.Models.CongViec

@{
    ViewData["Title"] = "ThemCongViecMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemCongViecMoi</h1>

<h4>HangHoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemCongViecMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenCv" class="control-label"></label>
                <input asp-for="TenCv" class="form-control" />
                <span asp-validation-for="TenCv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <select asp-for="MaLoai" class ="form-control" asp-items="ViewBag.MaLoai"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hinh" class="control-label"></label>
                <input asp-for="Hinh" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control"/>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

