@model IEnumerable<DoAnNhom6.ViewModels.BangXepHangVM>

@{
    ViewData["Title"] = "Index";
}


<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Bảng Xếp Hạng</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Nhân Viên</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <h6 class="mt-n1 mb-0">Tuyển Dụng</h6>
                    </a>
                </li>
             
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    @foreach (var item in Model.Where(m => m.Vaitro == false))
                    {
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">@item.HoTen</h5>
                                        <span class="text-truncate me-3"><i class="far fa-heart text-primary"></i> Work Point: @item.Diem</span>
                                       
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                            
                                        <a class="btn btn-primary" href="">Book Now(tính năng chưa mở)</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    }
                    <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    @foreach (var item in Model.Where(m => m.Vaitro == true))
                    {
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">@item.HoTen</h5>
                                        <span class="text-truncate me-3"><i class="far fa-heart text-primary"></i> Work Point: @item.Diem</span>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">

                                        <a class="btn btn-primary" href="">Liên Hệ(Tính năng chưa mở)</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                    <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                </div>
            
            </div>
        </div>
    </div>
</div>
<!-- Jobs 