@model DoAnNhom6.ViewModels.UserViewModel;

<h1>forgotpassword</h1>
<div class="container">
    <div class="row">
        <form class="form form-horizontal" asp-action="ForgotPassword" asp-controller="KhachHang" method="POST">
            <input asp-for="Register.MaKh" type="hidden"/>
            <div class="form-group">
                <label asp-for="Register.Email" class="col-md-3 control-label modal__lable"></label>
                <div class="col-md-9">
                    <input class="form-control modal__input" asp-for="Register.Email" placeholder="Nhập tên Email" autofocus required />
                    <span asp-validation-for="Register.Email" class="textdanger"></span>
                    <button type="submit" class="btn modal__btn">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>